
.container {
    max-width: 400px; /* Set a maximum width for the container */
     /* Center the container on the page */
    
  }

  .background{
      background-color: cornsilk;
  }

.homeLink{
   display:list-item;
   padding: 8px 12px;
   border: 2px solid #3498db;
   text-decoration: none;


}

.homeLink:hover{
    background-color: lightseagreen;
}

.homeTitle{
    color: #3498db;
}

ul {
 /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }

